version: '3'

services:

    backend:
        build:
            context: ./recipesbook-service
            dockerfile: Dockerfile
        container_name: recipesbookapp_backend
        ports:
            - "8081:8081"
        image: recipesbookapp_backend

    frontend:
        build:
            context: ./recipesbook-client
            dockerfile: Dockerfile
        container_name: recipesbookapp_frontend
        ports:
            - "8080:80"
        depends_on:
            - backend
        image: recipesbookapp_frontend

